<?xml version="1.0" ?>
<robot name="psm-classic" xmlns:xacro="https://wiki.ros.org/xacro">

    <!-- Example 02: PSM Classic -->
    <!-- This example spawns a Patient Side Manipulator (Classic generation) -->

    <xacro:include filename="$(find dvrk_description)/urdf/include/classic/psm.macro.xacro"/>

    <link name="world"/>

    <!-- Color:
        * The `color` parameter accepts any color defined in urdf/include/colors.xacro.
        * Default is "DaVinciOrange".
        * It specifies the color of the PSM insertion link (tool adaptor).
        * Useful for visually distinguishing multiple PSMs within the same scene.
    -->

    <!-- show_RCM
        * If true, a red sphere will be displayed at the RCM location.
        * If false, the sphere will be hidden (the default setting).
    -->

    <!-- Available tools: 
        * sca_8mm: 8mm small clip applier (the default tool), 
        * cadiere_8mm: 8mm cadiere forceps, 
        * rts_5mm: 5mm round tip scissors.
    -->

    <xacro:psm_classic 
        prefix="" 
        color="DaVinciOrange"
        show_RCM="true"
        tool="sca_8mm" 
        parent_link="world" 
        xyz="0 0 0" 
        rpy="0 0 0"/>

</robot>
