<?xml version="1.0" ?>
<robot name="ecm-si" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Example 05: ECM Si -->
    <!-- This example spawns an Endoscopic Camera Manipulator (Si generation) -->

    <xacro:include filename="$(find dvrk_description)/urdf/include/si/ecm.macro.xacro"/>

    <link name="world"/>

    <!-- show_RCM
        * If true, a red sphere will be displayed at the RCM location.
        * If false, the sphere will be hidden (the default setting).
    -->
        
    <xacro:ecm_si
        prefix=""
        show_RCM="true"
        parent_link="world"
        xyz="0 0 0" 
        rpy="0 0 0"/>

</robot>