<?xml version="1.0" ?>
<robot name="dvrk-classic" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Example 08: Patient Cart Classic -->
    <!-- This example spawns a complete patient cart with three PSMs and an ECM (Classic generation) -->

    <xacro:include filename="$(find dvrk_description)/urdf/include/classic/suj.macro.xacro"/>
    <xacro:include filename="$(find dvrk_description)/urdf/include/classic/ecm.macro.xacro"/>
    <xacro:include filename="$(find dvrk_description)/urdf/include/classic/psm.macro.xacro"/>

    <link name="world"/>

    <xacro:property name="SUJ_PREFIX" value="SUJ_" />

    <xacro:suj_classic 
        prefix="${SUJ_PREFIX}" 
        parent_link="world" 
        include_ecm="true" 
        include_psm1="true" 
        include_psm2="true" 
        include_psm3="true" 
        xyz="0 0 0" 
        rpy="0 0 0"/>

    <xacro:ecm_classic 
        prefix="ECM_" 
        parent_link="${SUJ_PREFIX}ecm_mount_link"/>

    <xacro:psm_classic 
        prefix="PSM1_" 
        tool="rts_5mm" 
        color="DaVinciOrange"
        parent_link="${SUJ_PREFIX}psm1_mount_link"/>

    <xacro:psm_classic 
        prefix="PSM2_" 
        tool="cadiere_8mm" 
        color="DaVinciLightBlue"
        parent_link="${SUJ_PREFIX}psm2_mount_link"/>  
    
    <xacro:psm_classic 
        prefix="PSM3_" 
        tool="sca_8mm" 
        color="DaVinciRed"
        parent_link="${SUJ_PREFIX}psm3_mount_link"/>    

</robot>
