<?xml version="1.0" ?>
<robot name="ecm-si" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Example: ECM Si -->
    <!-- This example spawns an Endoscopic Camera Manipulator (Si generation) -->

    <xacro:include filename="$(find dvrk_description)/urdf/include/si/ecm.macro.xacro"/>

    <link name="world"/>
    
    <xacro:ecm
        prefix=""
        parent_link="world"
        xyz="0 0 0" 
        rpy="0 0 0"/>

</robot>