<?xml version="1.0" ?>
<robot name="psm-si" xmlns:xacro="https://wiki.ros.org/xacro">

    <!-- Example: PSM Si -->
    <!-- This example spawns a Patient Side Manipulator (Si generation) -->

    <xacro:include filename="$(find dvrk_description)/urdf/include/si/psm.macro.xacro"/>

    <link name="world"/>

    <!-- Available tool: 
        * lnd_8mm: 8mm large needle driver, 
    -->

    <xacro:psm 
        prefix="" 
        tool="lnd_8mm" 
        parent_link="world" 
        xyz="0 0 0" 
        rpy="0 0 0"/>

</robot>
