<?xml version="1.0" ?>
<robot name="tool-si" xmlns:xacro="https://wiki.ros.org/xacro">

    <!-- Example: Tool Si -->
    <!-- This example spawns the available tool for the Patient Side Manipulator (Si generation) -->
    
    <xacro:include filename="$(find dvrk_description)/urdf/include/si/tool.macro.xacro"/>

    <link name="world"/>

    <!-- 8mm large needle driver -->
    <xacro:tool_lnd_8mm prefix="" parent_link="world"/>


</robot>
